.fighter-preview___root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fighter-preview___right {
  align-items: flex-start;
}

.fighter-preview___left {
  align-items: flex-end;
}

.fighter-preview___img {
  height: 100%;
  max-height: 400px;
}

.fighter-preview__name {
  color: #fff;
  font-size: 3em;
  font-family: 'SingleFighter';
}

.fighter-preview__info {
  padding: 5px 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: rgba(162, 162, 162, 0.6);
  border-radius: 25px;
}

.fighter-preview__info > div {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

.fighter-preview__info > div:last-child {
  margin-right: 0;
}

.fighter-preview__info span {
  font-size: 1.5em;
  font-weight: 700;
  margin-left: 0.2em;
}

.fighter-preview__info-img {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.fighter-preview__info-health > div {
  background-image: url('../../resources/img/health.svg');
}
.fighter-preview__info-attack > div {
  background-image: url('../../resources/img/attack.svg');
}
.fighter-preview__info-defense > div {
  background-image: url('../../resources/img/defense.svg');
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___right .fighter-preview__info {
  justify-content: flex-end;
}

.fighter-preview__hints {
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
}

.fighter-preview__hints div {
  margin: 0 10px;
  padding: 10px;
  min-width: 20px;
  background-color: rgba(162, 162, 162, 0.3);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
}
