@font-face {
  font-family: 'SingleFighter';
  src: 
    url('../../resources/fonts/singlefighter-webfont.woff2') format('woff2'),
    url('../../resources/fonts/singlefighter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}