.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 25;
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 3px solid #ba0303;
  font-weight: 700;
  font-size: 22px;
}

.modal-header span {
  font-family: 'SingleFighter';
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-body {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.close-btn {
  margin-left: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.tryAgainBtn {
  margin: 30px 0 10px 0;
  padding: 8px 25px;
  text-align: center;
  background: #900202;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.tryAgainBtn + .dropWrapper {
  opacity: 1;
}
.tryAgainBtn + .dropWrapper .drop {
  top: -22px;
  animation-name: drip;
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  background: #900202;
}
.tryAgainBtn + .dropWrapper .drop:before {
  border-bottom-color: #900202;
}

.fightersStats {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fightersStats-table {
  margin: 15px 0;
  border-collapse: collapse;
}
.fightersStats-table tr {
  border-bottom: 1px solid #dddddd;
}
.fightersStats-table tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}
.fightersStats-table :where(td, th) {
  padding: 12px 15px;
  min-width: 100px;
  text-align: center;
}
.fightersStats-table th {
  text-transform: uppercase;
  font-family: 'Arial';
}
.fightersStats-table :where(td:first-child, th:first-child) {
  text-align: left;
}
.fightersStats-table :where(td:last-child, th:last-child) {
  text-align: right;
}
