.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}

.preview-container___fight-btn:hover + .dropWrapper {
  opacity: 1;
}
.preview-container___fight-btn:hover + .dropWrapper .drop {
  animation-name: drip;
  animation-timing-function: cubic-bezier(1,0,.91,.19);
}

.dropWrapper {
  width: 120px;
  height: 0;
  display: flex;
  flex-flow: row nowrap;
  opacity: 0;
  transition: opacity .7s;
}
.drop {
  position: relative;
  width: 15px;
	height: 15px;
  top: -55px;
  margin: 0 auto;
	background: #ba0303;
	border-radius: 20px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 20px solid rgba(186,3,3,1);
  top: -12px;
}
.drop:nth-child(2) {
  top: -35px;
  height: 10px;
  width: 10px;
  animation-delay: .5s;
}
.drop:nth-child(2):before {
  border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 15px solid rgba(186,3,3,1);
  top: -12px;
}
.drop:nth-child(3) {
  top: -65px;
  height: 20px;
  width: 20px;
  animation-delay: 2s;
}
.drop:nth-child(3):before {
  border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgba(186,3,3,1);
  top: -22px;
}


@keyframes drip {
  to {
    top: 200px;
  }
}
